# .env
.env

.vscode

# c
c/*
c/*.o
c/**/*
!c/**/
!c/**/*.c
!c/**/lib/
!c/**/lib/*.h
!c/**/Makefile
!c/**/Makefile.*

## java
**/*.class

## scala
scala/**/project
scala/**/target

## maven
maven/**/target

## nodejs
node/**/node_modules
node/**/package-lock.json
node/conf/*

## .venv
python/**/.venv

## pycahe

python/fastapi/__pycache__

## oracle
oracle/node/dbConfig.js
oracle/node/node_modules
oracle/node/package-lock.json
oracle/myterror.csv


# key
python/data/secret.json
python/secret.json

# c9
.c9

# swagger
node/swagger

/**/**/node_modules
/**/**/package-lock.json

## .venv
/**/.venv
ai-1/1_openai/2_image/image.png
ai-1/1_openai/2_image/mask.png
ai-1/1_openai/4_fine_tuning/tsukuyomi_new.jsonl
ai-1/1_openai/4_fine_tuning/tsukuyomi.jsonl
ai-1/1_openai/4_fine_tuning/tsukuyomi.csv
